<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guess | Aasani Brown</title>
  <link rel="stylesheet" href="css/make_a_deal.css">
  <script src="js/analytics.js" type="text/javascript"></script>

  <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="make_a_deal_choose_1">

  <div class="text_container">
    <div id="title">You picked Thai </div>
    <p id="host">
      <br>
      <br>
      </p>
  </div>

  <div id="door_container">
    <div>

     <%= link_to img_tag( ""), "" %></div>
    <div class="door"><img src="images/orange_door_fire.png">></div>
    <div class="door"><a href="make_a_deal_final_3.html"><img src="images/green_door.png"></a></div>
  </div>


</body>
</html>
